<configuration debug="false">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
		<file>${catalina.base}/logs/backend.log</file>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.apache" level="WARN" />
	<logger name="httpclient" level="WARN" /> 

	<root level="ERROR">	<!-- TRACE/DEBUG/INFO/WARN/ERROR -->
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOGFILE" />
	</root>

</configuration>