<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>Karuta Backend</display-name>

	<listener>
		<listener-class>com.portfolio.data.utils.Manager</listener-class>
	</listener>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!--
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		-->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<!--
			<param-name>com.sun.jersey.config.property.packages</param-name>
			-->
			<param-value>com.portfolio.rest;</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>
		<init-param>
			<param-name>logRestRequests</param-name>
			<param-value>0</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>OAuth 2.0 Authentication</description>
		<display-name>OAuth2</display-name>
		<servlet-name>OAuth2</servlet-name>
		<servlet-class>com.portfolio.security.OAuth2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OAuth2</servlet-name>
		<url-pattern>/oauth2</url-pattern>
	</servlet-mapping>

	<!--
        <servlet>
            <description>I'm just a small proxy</description>
            <display-name>MiniProxy</display-name>
            <servlet-name>MiniProxy</servlet-name>
            <servlet-class>com.portfolio.data.attachment.MiniProxy</servlet-class>
            <init-param>
                <param-name>baseURL</param-name>
                <param-value>https://FIXED.BASE.URL/api</param-value>
            </init-param>
        </servlet>
        <servlet-mapping>
            <servlet-name>MiniProxy</servlet-name>
            <url-pattern>/opendatasoft/*</url-pattern>
        </servlet-mapping>
        -->

	<servlet>
		<description>Exporting portfolio in zipped HTML format</description>
		<display-name>ExportHTML</display-name>
		<servlet-name>ExportHTML</servlet-name>
		<servlet-class>com.portfolio.data.attachment.ExportHTMLService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportHTML</servlet-name>
		<url-pattern>/export/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Compare Servlet</description>
		<display-name>CompareServlet</display-name>
		<servlet-name>CompareServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.CompareServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompareServlet</servlet-name>
		<url-pattern>/compare/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>File Servlet</description>
		<display-name>FileServlet</display-name>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.FileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/resources/resource/file/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>XSLT Servlet</description>
		<display-name>XSLT Servlet</display-name>
		<servlet-name>XSLTServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.XSLService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XSLTServlet</servlet-name>
		<url-pattern>/xsl</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Message Servlet</description>
		<display-name>Message Servlet</display-name>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.MessageService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/message</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Direct URL Servlet</description>
		<display-name>Direct URL Servlet</display-name>
		<servlet-name>DirectURLServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.DirectURLService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DirectURLServlet</servlet-name>
		<url-pattern>/direct</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Mail Servlet</description>
		<display-name>Mail Servlet</display-name>
		<servlet-name>MailServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.MailService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MailServlet</servlet-name>
		<url-pattern>/mail</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>LTI Servlet Import</description>
		<display-name>LTIServletImport</display-name>
		<servlet-name>LTIServletImport</servlet-name>
		<servlet-class>com.portfolio.security.LTIServletImport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LTIServletImport</servlet-name>
		<url-pattern>/retrieve</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Shib Auth Servlet</description>
		<display-name>Shibboleth service</display-name>
		<servlet-name>ShibeServe</servlet-name>
		<servlet-class>com.portfolio.security.ShibeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShibeServe</servlet-name>
		<url-pattern>/shibe</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>CSV Servlet</description>
		<display-name>CSVServlet</display-name>
		<servlet-name>CSVServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.ConvertCSV</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CSVServlet</servlet-name>
		<url-pattern>/csv</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Register Servlet</description>
		<display-name>Register Servlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.RegisterService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Emploi Store ROME service</description>
		<display-name>Emploi Store ROME</display-name>
		<servlet-name>EmploiStoreService</servlet-name>
		<servlet-class>com.portfolio.data.attachment.EmploiStoreService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmploiStoreService</servlet-name>
		<url-pattern>/rome/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Logging service</description>
		<display-name>Logging service</display-name>
		<servlet-name>LogginService</servlet-name>
		<servlet-class>com.portfolio.data.attachment.LoggingService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogginService</servlet-name>
		<url-pattern>/logging</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Ping service</description>
		<display-name>Ping service</display-name>
		<servlet-name>PingService</servlet-name>
		<servlet-class>com.portfolio.data.attachment.PingService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PingService</servlet-name>
		<url-pattern>/ping</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Report service</description>
		<display-name>Report service</display-name>
		<servlet-name>ReportService</servlet-name>
		<servlet-class>com.portfolio.data.attachment.ReportService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportService</servlet-name>
		<url-pattern>/report/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Report helper</description>
		<display-name>Report helper</display-name>
		<servlet-name>ReportHelper</servlet-name>
		<servlet-class>com.portfolio.data.attachment.ReportHelper</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportHelper</servlet-name>
		<url-pattern>/vector/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LTI</servlet-name>
		<servlet-class>com.portfolio.security.LTIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LTI</servlet-name>
		<url-pattern>/lti/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LTIv2</servlet-name>
		<servlet-class>com.portfolio.security.LTIv2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LTIv2</servlet-name>
		<url-pattern>/lti2/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>https://localhost:8443/cas/login</param-value>
		</init-param>
		<init-param>
			<param-name>service</param-name>
			<param-value>http://localhost:8080/WAD6/jsp/login.jsp</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS Ticket Validation Filter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>https://localhost:8443/cas</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://localhost:8080/</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS Wrapper Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CAS Thread Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
	</filter>

	<!--
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Ticket Validation Filter
		</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Wrapper Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
</web-app>