<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:web="http://java.sun.com/xml/ns/javaee/webapp_2_5.xsd"
	id="WebApp_ID">
	<display-name>Karuta Backend</display-name>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/portfolio-backend</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<listener>
		<listener-class>com.portfolio.data.utils.Manager</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.portfolio.rest;</param-value>
		</init-param>
		<init-param>
			<param-name>logRestRequests</param-name>
			<param-value>0</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Exporting portfolio in zipped HTML format</description>
		<display-name>ExportHTML</display-name>
		<servlet-name>ExportHTML</servlet-name>
		<servlet-class>com.portfolio.data.attachment.ExportHTMLService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportHTML</servlet-name>
		<url-pattern>/export/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>CompareServlet</display-name>
		<servlet-name>CompareServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.CompareServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompareServlet</servlet-name>
		<url-pattern>/compare/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>FileServlet</display-name>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.FileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/resources/resource/file/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>XSLT Servlet</display-name>
		<servlet-name>XSLTServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.XSLService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XSLTServlet</servlet-name>
		<url-pattern>/xsl</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>Message Servlet</display-name>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.MessageService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/message</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>Direct URL Servlet</display-name>
		<servlet-name>DirectURLServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.DirectURLService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DirectURLServlet</servlet-name>
		<url-pattern>/direct</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>Mail Servlet</display-name>
		<servlet-name>MailServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.MailService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MailServlet</servlet-name>
		<url-pattern>/mail</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>LTIServletImport</display-name>
		<servlet-name>LTIServletImport</servlet-name>
		<servlet-class>com.portfolio.security.LTIServletImport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LTIServletImport</servlet-name>
		<url-pattern>/retrieve</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>Shibboleth service</display-name>
		<servlet-name>ShibeServe</servlet-name>
		<servlet-class>com.portfolio.security.ShibeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShibeServe</servlet-name>
		<url-pattern>/shibe</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>CSVServlet</display-name>
		<servlet-name>CSVServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.ConvertCSV</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CSVServlet</servlet-name>
		<url-pattern>/csv</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>Register Servlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.portfolio.data.attachment.RegisterService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>Logging service</display-name>
		<servlet-name>LogginService</servlet-name>
		<servlet-class>com.portfolio.data.attachment.LoggingService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogginService</servlet-name>
		<url-pattern>/logging</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>Ping service</display-name>
		<servlet-name>PingService</servlet-name>
		<servlet-class>com.portfolio.data.attachment.PingService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PingService</servlet-name>
		<url-pattern>/ping</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>Report service</display-name>
		<servlet-name>ReportService</servlet-name>
		<servlet-class>com.portfolio.data.attachment.ReportService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportService</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LTI</servlet-name>
		<servlet-class>com.portfolio.security.LTIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LTI</servlet-name>
		<url-pattern>/lti/*</url-pattern>
	</servlet-mapping>
  <servlet>
    <servlet-name>LTIv2</servlet-name>
    <servlet-class>com.portfolio.security.LTIv2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LTIv2</servlet-name>
    <url-pattern>/lti2/*</url-pattern>
  </servlet-mapping>

	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>https://localhost:8443/cas/login</param-value>
		</init-param>
		<init-param>
			<param-name>service</param-name>
			<param-value>http://localhost:8080/WAD6/jsp/login.jsp</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS Ticket Validation Filter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas10TicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>https://localhost:8443/cas</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://localhost:8080/</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS Wrapper Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CAS Thread Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
	</filter>
	
	<!--
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Ticket Validation Filter
		</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Wrapper Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
</web-app>